* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  #header-img {
    color: aquamarine;
    display: block;
    width:  auto;
    height:100px;
  }

  #nav-bar ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
          
  .container {
   max-width: 1000px;
   height: auto; 
  }
  nav ul {
    display: flex;
  }

  nav li {
    flex: auto;
  }
 body {
  background-image: radial-gradient(#53e9ea)  ;
 }
