* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

 body {
   background-color: cadetblue;
   font-family: 'Open Sans', sans-serif;
 } 
  
  
  
  #header-img {
    color: aquamarine;
    display: block;
    width:  auto;
    height:100px;
  }

  #nav-bar ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top:25px ;
      border-radius: 30px;
    }
          
    .container {
      max-width: 1000px;
      width: 100%;
      margin: 0 auto;
    } 
 
      nav ul {
    display: flex;
    
  }

  nav li {
    flex: auto;
  }
 body {
  background-image: radial-gradient(#53e9ea)  ;
 }

 #nav-bar {
   background-color: blueviolet;
   margin: 0,auto;
   height: 100px;
   text-align:center;

 }

 li {
  list-style: none; 
  text-decoration: none;
 
  marker: none;
  
 }

 a:link {
   color:red;

 }

 a {
  background-color: powderblue;
  transition: background-color .5s;
  text-decoration: none;
}

a:hover {
  background-color: gold;
}

.nav-link {
padding: 5px;
border: 2px;
border-bottom-left-radius: 0vmin;
font-size: 1em;
}