* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  #header-img {
    display: block;
    width:  auto;
    height:100px;
  }

  #nav-bar ul {
      display: flex;
      justify-content: space-between;

    }
          
  .container {
   max-width: 1000px;
   height: auto; 
  }
  nav ul {
    display: flex;
  }

  nav li: {
    flex: auto;
  }

